.header {
  background-color: var(--secondary-bg-dark);
  font-family: var(--secondary-font);
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 0;
}

.link {
  display: block;

  padding: 10px;

  text-transform: uppercase;
}

.active {
  color: var(--primary-light);
}
