.round {
	font-family: var(--secondary-font);

	text-align: center;
}

.title {
	font-size: 36px;
	color: var(--primary-light);
	text-transform: uppercase;
}

.question {
	font-size: 24px;
}

.message {
	font-size: 30px;
}

.error {
	color: var(--error-color);
}

.success {
	color: var(--success-color);
}

.makeBet {
	font-size: 24px;
	color: var(--primary-light);
	text-transform: uppercase;
}

.Buser {
	/* Banker */
	position: absolute;
	height: 44px;
	width: 118px;
	left: 113px;
	top: 219px;
}

.Bdie1 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 113px;
	top: 285px;
	border-radius: 0px;

}

.Bdie2 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 259px;
	top: 285px;
	border-radius: 0px;

}

.Bdie3 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 405px;
	top: 285px;
	border-radius: 0px;

}

.Bresult {
	/* Banker Roll Result */
	position: absolute;
	height: 44px;
	width: 305px;
	left: 500px;
	top: 316px;
	border-radius: 0px;
}

.Puser {
	/* Player */
	position: absolute;
	height: 44px;
	width: 105px;
	left: 107px;
	top: 407px;
	border-radius: nullpx;

}

.Pdie1 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 113px;
	top: 442px;
}

.Pdie2 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 259px;
	top: 442px;
}

.Pdie3 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 405px;
	top: 442px;
}

.Presult {
	/* Player Roll Result */
	position: absolute;
	height: 44px;
	width: 292px;
	left: 500px;
	top: 477px;
	border-radius: 0px;
}

.betEl {
	position: absolute;
	height: 700px;
	width: 506px;
	left: 905px;
	top: 208px;
	border-radius: 0px;
	background: #1a66078e;
}

.logEl {
	position: absolute;
	height: 355px;
	width: 855px;
	left: 23px;
	top: 555px;
	border-radius: 0px;
	background: #1a66078e;
}