.round {
	font-family: var(--secondary-font);

	text-align: center;
}

.title {
	font-size: 36px;
	color: var(--primary-light);
	text-transform: uppercase;
}

.question {
	font-size: 24px;
}

.message {
	font-size: 30px;
}

.error {
	color: var(--error-color);
}

.success {
	color: var(--success-color);
}

.game {
	position: absolute;
	height: 355px;
	width: 855px;
	left: 23px;
	top: 155px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;
}

.makeBet {
	font-size: 24px;
	color: var(--primary-light);
	// text-transform: uppercase;
}

.Buser {
	/* Banker */
	position: absolute;
	height: 44px;
	width: 105px;
	left: 107px;
	top: 15px;
}

.Bdie1 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 113px;
	top: 60px;
	border-radius: 0px;

}

.Bdie2 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 259px;
	top: 60px;
	border-radius: 0px;

}

.Bdie3 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 405px;
	top: 60px;
	border-radius: 0px;

}

.Bresult {
	/* Banker Roll Result */
	position: absolute;
	height: 44px;
	width: 305px;
	left: 500px;
	top: 90px;
	border-radius: 0px;
}

.Puser {
	/* Player */
	position: absolute;
	height: 44px;
	width: 105px;
	left: 107px;
	top: 185px;
	border-radius: nullpx;

}

.Pdie1 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 113px;
	top: 230px;
}

.Pdie2 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 259px;
	top: 230px;
}

.Pdie3 {
	position: absolute;
	height: 105px;
	width: 105px;
	left: 405px;
	top: 230px;
}

.Presult {
	/* Player Roll Result */
	position: absolute;
	height: 44px;
	width: 292px;
	left: 500px;
	top: 265px;
	border-radius: 0px;
}

.betEl {
	position: absolute;
	height: 755px;
	width: 506px;
	left: 905px;
	top: 155px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;
}

.logEl {
	position: absolute;
	height: 355px;
	width: 855px;
	left: 23px;
	top: 555px;
	border-radius: 0.5rem;
	border: solid 1px #4c4c4c;
	background: #404040;
}

.betButton {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	margin: 0;
	line-height: inherit;
	width: 80%;
	border: none;
	font-family: inherit;
	font-size: 1.2em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 800;
	outline: none;
	position: relative;
	transition: all .3s;
	border-radius: 5px;
	padding: 1rem 2rem;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #e58929;
	color: #fff;
	box-shadow: 0 5px #ad6215;
	cursor: pointer;
	opacity: 1;
}