:root {
  --primary-font: 'Noto Sans', sans-serif;
  --secondary-font: 'Lato', sans-serif;

  // colors:
  --primary-bg-dark: #3e3e3e;
  --primary-bg-dark-shade: #4d5561;
  --secondary-bg-dark: #24282e;
  --primary-light: #ffff0a;
  --basic-light: #ffffff;
  --success-color: #15eb15;
  --error-color: #a70000;
}
