.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.coin {
  position: absolute;

  max-width: 500px;
  max-height: 500px;
  width: 200px;
  height: 200px;

  border-radius: 50%;
  will-change: transform, opacity;

   
}

.tails,
.heads,
.unknown {
  background-color: var(--primary-bg-dark-shade); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tails {
  background-image: url(../../../public/assets/images/coin-tail.svg);

  animation: showCoinSide 0.3s ease-out;
}

.heads {
  background-image: url(../../../public/assets/images/coin-head.svg);

  animation: showCoinSide 0.3s ease-out;
}

.unknown {
  background-image: url(../../../public/assets/images/coin-unknown.svg);
}

@keyframes showCoinSide {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  95% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
